Django==5.1.2
gunicorn==23.0.0
psycopg2-binary==2.9.10
Flask==3.0.3
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
Flask-SQLAlchemy==3.1.1
numpy==1.26.0
pandas==2.1.1
scipy==1.11.3
scikit-learn==1.5.2
matplotlib==3.8.0
seaborn==0.12.2
Pillow==10.0.1
requests==2.31.0
python-dateutil==2.8.2
whitenoise==6.10.0
sqlparse==0.5.1
ipython==8.15.0
ipykernel==6.25.2
tensorboard==2.18.0
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
transformers==4.34.0
huggingface-hub==0.16.4
tqdm==4.66.1
rich==13.6.0
validators==0.22.0
